<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    
    <hooks>
      <!-- Hook to initialize the custom AdaptiveImagesMediaProvider class -->
      <hook type="adaptiveImages.AdaptiveImagesMediaProviderHook, SitecoreAdaptiveImages" />
    </hooks>

    <settings>
      <!--The resolution break-points to use (screen widths, in pixels)-->
      <setting name="resolutions" value="1382, 992, 768, 480"/>
      <!--The maximum width that images will be rendered at (Optional - Leave blank if you do not want a maximum width)-->
      <setting name="maxWidth" value=""/>
      <!--If there's no cookie, false sends the largest var resolutions version (true sends smallest)-->
      <setting name="mobileFirst" value="false"/>
      <!--The name of the cookie containing the resolution value-->
      <setting name="cookieName" value="resolution"/>
      <!--The name of the live DB (ie: web)-->
      <setting name="database" value="web"/>
    </settings>
    
  </sitecore>
</configuration>